<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>googlemaps</servlet-name>
		<servlet-class>com.googlemapsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Task31</servlet-name>
		<servlet-class>com.Task31Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Task32</servlet-name>
		<servlet-class>com.Task32Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Task33</servlet-name>
		<servlet-class>com.Task33Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Task34</servlet-name>
		<servlet-class>com.Task34Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Task41</servlet-name>
		<servlet-class>com.Task41Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Task42</servlet-name>
		<servlet-class>com.Task42Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Clazz</servlet-name>
		<servlet-class>com.ClazzServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FifthFirstServlet</servlet-name>
		<servlet-class>com.FifthFirstServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>googlemaps</servlet-name>
		<url-pattern>/googlemaps</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task31</servlet-name>
		<url-pattern>/Task31</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task32</servlet-name>
		<url-pattern>/Task32</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task33</servlet-name>
		<url-pattern>/Task33</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task34</servlet-name>
		<url-pattern>/Task34</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task41</servlet-name>
		<url-pattern>/Task41</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Task42</servlet-name>
		<url-pattern>/Task42</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Clazz</servlet-name>
		<url-pattern>/Clazz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FifthFirst</servlet-name>
		<url-pattern>/FifthFirst</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
